@model Program

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <input class="w-100 m-2 p-2" type="number" placeholder="Id" name="Id" />
                <input class="w-100 m-2 p-2" type="text" placeholder="Name" name="ProductName" />
                <input class="w-100 m-2 p-2" type="number" placeholder="Price" name="Price" />
                <input class="btn btn-primary mt-3"  type="submit" placeholder="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAll" class="btn btn-info m-1 w-10">Back to List</a>
</div>

