@model List<Store_Manager.Models.Product>

@{
    ViewBag.Title = "Product Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h1>@ViewBag.Title</h1>

    <a asp-controller="Product" asp-action="ShowAll" class="btn btn-dark">
        Show List
    </a>
</body>
